<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75650851939-51hf2vt0i5mncoif72b0l1u03hqo5b4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75650851939-51hf2vt0i5mncoif72b0l1u03hqo5b4t</string>
	<key>API_KEY</key>
	<string>AIzaSyBFAmkMbgLUyCgvR7ulTl7gqADbsAUF9J0</string>
	<key>GCM_SENDER_ID</key>
	<string>75650851939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.building.vime.bitexco</string>
	<key>PROJECT_ID</key>
	<string>app-building-bitexco</string>
	<key>STORAGE_BUCKET</key>
	<string>app-building-bitexco.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75650851939:ios:08240430c9804a738a8456</string>
	<key>DATABASE_URL</key>
	<string>https://app-building-bitexco-default-rtdb.firebaseio.com</string>
</dict>
</plist>