@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wy4wo2');
  src:  url('fonts/icomoon.eot?wy4wo2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wy4wo2') format('truetype'),
    url('fonts/icomoon.woff?wy4wo2') format('woff'),
    url('fonts/icomoon.svg?wy4wo2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-all:before {
  content: "\e900";
}
.icon-bn-giao-ni-b:before {
  content: "\e901";
}
.icon-bbq:before {
  content: "\e902";
}
.icon-ca-trc:before {
  content: "\e903";
}
.icon-checklist:before {
  content: "\e904";
}
.icon-ca-ti:before {
  content: "\e905";
}
.icon-danh-sch-ta-nh:before {
  content: "\e906";
}
.icon-a-ch:before {
  content: "\e907";
}
.icon-dch-v:before {
  content: "\e908";
}
.icon-in:before {
  content: "\e909";
}
.icon-i-vai-tr-ng-dng:before {
  content: "\e90a";
}
.icon-i-vai-tr-ngi-dng-01 .path1:before {
  content: "\e90b";
  color: rgb(0, 0, 0);
}
.icon-i-vai-tr-ngi-dng-01 .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-i-vai-tr-ngi-dng-01 .path3:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-i-vai-tr-ngi-dng-01 .path4:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-i-vai-tr-ngi-dng-01 .path5:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-i-vai-tr-ngi-dng-01 .path6:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-dv--ky:before {
  content: "\e911";
}
.icon-gas:before {
  content: "\e912";
}
.icon-gym-7:before {
  content: "\e913";
}
.icon-h-s-v2:before {
  content: "\e914";
}
.icon-information-279:before {
  content: "\e915";
}
.icon-khch-hng-01:before {
  content: "\e916";
}
.icon-kho-st:before {
  content: "\e917";
}
.icon-kim-tra-nh-k:before {
  content: "\e918";
}
.icon-lm-thm-gi-v2:before {
  content: "\e919";
}
.icon-log-out:before {
  content: "\e91a";
}
.icon-menu:before {
  content: "\e91b";
}
.icon-nhn-vin:before {
  content: "\e91c";
}
.icon-nhm-cv:before {
  content: "\e91d";
}
.icon-ni-dung-thng-bo:before {
  content: "\e91e";
}
.icon-nc:before {
  content: "\e91f";
}
.icon-pcong-dong:before {
  content: "\e920";
}
.icon-phn-nh:before {
  content: "\e921";
}
.icon-phiu--xut:before {
  content: "\e922";
}
.icon-phiu-kho-st:before {
  content: "\e923";
}
.icon-phng-ban:before {
  content: "\e924";
}
.icon-qun-l-ti-khon:before {
  content: "\e925";
}
.icon-thanh-ton:before {
  content: "\e926";
}
.icon-th-xe:before {
  content: "\e927";
}
.icon-thi-cng-v2:before {
  content: "\e928";
}
.icon-thng-bo:before {
  content: "\e929";
}
.icon-tin-ch:before {
  content: "\e92a";
}
.icon-t-chc:before {
  content: "\e92b";
}
.icon-tng-hp:before {
  content: "\e92c";
}
.icon-trang-ch:before {
  content: "\e92d";
}
.icon-vn-chuyn--v2:before {
  content: "\e92e";
}
.icon-view:before {
  content: "\e92f";
}
